h1{
color: blue;
text-align: center;
font-family: courier;
font-size: 45px;
}
p{
  text-align: center;
  font-family: courier;
}
h2{
color: blue;
text-align: center;
font-family: courier;
}
h3{
color: blue;
text-align: center;
font-family: courier;
}
body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    background: blue;
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
LH{
    color: white;
    font-family: optima;
    font-size: 59px;
    padding-left: 0px;
}
li{
        float: right;
    }
    nav a{
        width: 95px;
        display: block;
        padding: 17px 5px;
        text-decoration: none;
        font-family: optima;
        font-size: 22px;
        color: white;
        text-align: center;
    }
    nav a:hover {
    background: white;
    transition: 0.5s;
    color: blue;
    }
    h4{
      text-align: center;
      color: blue;
      font-family: courier;
    }
    button{
        position: relative;
      background-color: blue;
      border: none;
      font-size: 13.5px;
      color: white;
      padding: 10px;
      width: 100px;
      text-align: center;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      font-family: courier;
      border-radius: 20px;
      }
